// CHISU Color Palette

$color-white:               #ffffff !default;
$color-black:               #37434B !default;
$color-black-10:            #ebeced !default;
$color-gray:                #7d93a2 !default; // very large text only
$color-gray-50:             #bec9d0 !default;
$color-gray-25:             #dee4e8 !default;
$color-gray-10:             #f2f4f6 !default;
$color-dark-gray:           #6d6e71 !default;
$color-dark-gray-50:        #929295 !default;
$color-dark-gray-20:        #e2e2e3 !default;
$color-dark-gray-10:        #f0f0f1 !default;
$color-dark-gray-5:         #f8f8f8 !default;
$color-sky-blue:            #2ca0c3 !default;
$color-sky-blue-50:         #95cfe1 !default;
$color-blue:                #5393ce !default;
$color-dark-blue:           #002867 !default;
$color-blue-50:             #a9c9e6 !default;
$color-blue-25:             #d4e4f3 !default;
$color-green:               #55a55a !default;
$color-green-90:            #66ae6a !default;
$color-green-50:            #aad2ac !default;
$color-green-40:            #bbdbbd !default;
$color-green-25:            #d4e8d6 !default;
$color-green-10:            #eef6ee !default;
$color-tan:                 #c6b9ac !default;
$color-tan-50:              #e2dcd5 !default;
$color-tan-25:              #f8f6f4 !default;
$color-tan-75:              #d4cbc1 !default;
$color-brown:               #7b6957 !default; // header color
$color-brown-85:            #8f7f70 !default; // button hover
$color-red:                 #b01e1e !default;
$color-orange:              #e66e26 !default;
$color-yellow:              #e6c826 !default;
$color-yellow-50:           #f2e392 !default;

$table-hover-bg:            $color-blue-25 !default;

// Other Defaults

$transition:                all 0.2s ease !default;

// Fonts
@import url("https://use.typekit.net/tpg5gdf.css"); // Includes 300 and 400, same OT font as logo
$variex:                    'variex', sans-serif !default;
$gill-sans:                 'gill-sans-nova', sans-serif !default;
$montserrat:                'montserrat', sans-serif !default;
