.table {
  tr th, thead th {
    background-color: var(--color-blue);
  }
  tr {
    background: none;
  }
}

.table > :not(caption) > * > * {
  background-color: $color-dark-gray-10;
  box-shadow: none;
}

.table-striped > :not(caption) > * > * {
  background-color: $color-dark-gray-20;
  box-shadow: none;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: $color-dark-gray-5;
  box-shadow: none;
}

.table-hover > tbody > tr:hover > * {
  background-color: $color-blue-25;
  box-shadow: none;
}
