{#
/**
 * @file
 * Bootstrap Barrio's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
<div class="my-sm-2">
  <a href="https://www.usaid.gov/" target="_blank" class="navbar-brand mr-4 pr-lg-2">
    <div><img src="/themes/custom/chisu/images/logo-usaid.png" alt="USAID: From The American People" class="img-fluid" width="200" height="58" /></div>
  </a>
  <a href="/" class="navbar-brand">
    <div><img src="/themes/custom/chisu/images/logo-chisu.png" alt="CHISU: Country Health Information Systems and Data Use" width="168" height="74" class="img-fluid" /></div>
  </a>
</div>
